<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Febrero</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>5  de Febrero: Aniversario de la promulgación de las Constituciones de 1857 y 1917</li>
    <li>11 de Febrero: Día Internacional de la Niña y la Mujer en la Ciencia</li>
    <li>13 de Febrero: Día Internacional de la Radio</li>
    <li>14 de Febrero: Día del amor y la amistad</li>
    <li>15 de Febrero: Día Internacional del Cáncer Infantil</li>
    <li>19 de Febrero: Día del Ejercito Mexicano</li>
    <li>24 de Febrero: Día de la Bandera</li>
</ul>

<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Marzo</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>1 de Marzo: Día Mundial para la cero Discriminación</li>
    <li>8 de Marzo: Día internacional de la Mujer</li>
    <li>18 de Marzo: Aniversario de la Expropiación Petrolera, en 1938</li>
    <li>20 de Marzo: Día Internacional de la Felicidad</li>
    <li>21 de Marzo: Aniversario del nacimiento de Benito Juárez, en 1806</li>
</ul>