<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Enero</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>6 de Enero: Día de Reyes</li>
    <li>4 de Enero: Día del Periodísta</li>
    <li>27 de Enero: Día Internacional de la Conmemoración Anual en Memoria a las Víctimas de lo Holocausto</li>
</ul>

<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Febrero</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>5 de Febrero: Aniversario de la promulgación de las Constituciones de 1857 y 1917</li>
    <li>11 de Febrero: Día Internacional de la Niña y la Mujer en la Ciencia</li>
    <li>13 de Febrero: Día Internacional de la Radio</li>
    <li>14 de Febrero: Día del amor y la amistad</li>
    <li>15 de Febrero: Día Internacional del Cáncer Infantil</li>
    <li>19 de Febrero: Día del Ejercito Mexicano</li>
    <li>24 de Febrero: Día de la Bandera</li>
    <li>30 de Marzo: Día Internacional de las trabajadoras del Hogar</li>
</ul>

<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Marzo</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>1 de Marzo: Día Mundial para la cero Discriminación</li>
    <li>8 de Marzo: Día internacional de la Mujer</li>
    <li>18 de Marzo: Aniversario de la Expropiación Petrolera, en 1938</li>
    <li>20 de Marzo: Día Internacional de la Felicidad</li>
    <li>21 de Marzo: Aniversario del nacimiento de Benito Juárez, en 1806</li>
    <li>30 de Marzo: Día Internacional de las trabajadoras del Hogar</li>
</ul>

<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Abril</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>2 de Abril: Día Mundial sobre la Concienciación del Autismo</li>
    <li> 6 de Abril: Día Internacional del Deporte y la Paz</li>
    <li> 7 de Abril: Día Mundial de la Salud</li>
    <li> 30 de Abril: Día del Niño y la Niña</li>
</ul>

<h2 class="col-10 text-center card bg-dark text-info border border-success card-small p-2 mt-5">Mayo</h2>
<ul class="col-11 card bg-dark text-info text-light">
    <li>1ero de Mayo: Día del Trabajo</li>
    <li> 10 de Mayo: Día de la Madre</li>
    <li> 15 de Mayo: Día del Maestro</li>
    <li> 17 de Mayo: Día del Internet</li>
    <li> 17 de Mayo: Día Nacional de Lucha contra la Homofobia</li>
    <li> 21 de Mayo: Día Mundial de la Diversidad Cultural</li>
</ul>

<h2 class="card col-10 rounded text-center bg-dark border border-success p-2 mt-5">VACACIONES!</h2>